<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="icon/png" href="img/favicon.png" />
    <title>Administration - Cow-snack</title>
    <link rel="stylesheet" href="css/unique.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/footer.css" />
  </head>
  <body id="admin">
    <div class="flex-row align">
      <img src="img/logo.png" class="logoFirst" />
      <div class="flex-row align">
        <a href="index.ejs" class="flex-end">
          <div class="bouton">Accueil</div>
        </a>
        <div class="deconnexion">Se déconnecter</div>
      </div>
    </div>

    <h2>Commandes</h2>
    <section id="commandAdmin">
      <div class="topCommand">
        <h3>Nom du client</h3>
        <h3>Nom du Sandwich</h3>
        <h3>Boisson & Dessert</h3>
        <h3>Prix</h3>
        <h3>Date de Livraison</h3>
        <h3>Statut</h3>
      </div>
      <div class="flex-row align commandContainer">
        <div class="suppr">
          <img src="img/add.png" class="cruce" />
        </div>
        <div>
          <p>Alexandre Le Gaulois</p>
          <p class="colorSandwich">Cow-Custom</p>
          <div class="popupCustom">
            <div>
              <img src="img/height.svg" />
              <p>Small</p>
            </div>
            <div>
              <img src="img/meat.svg" />
              <p>Steak Cordon Bleu</p>
            </div>
            <div>
              <img src="img/salad.svg" />
              <p>Cheddar Lardons Salade Tomates</p>
            </div>
            <div>
              <img src="img/sauce-bottle.svg" />
              <p>Mayonnaise</p>
            </div>
          </div>
          <p>Orangina / Panini nutella</p>
          <p>3.00€</p>
          <p>Mardi 7 Juin</p>
          <p class="statut">Livré</p>
        </div>
        <div class="paiementValidate">Paiement effectué</div>
        <div class="infos">
          +
          <div class="infosContainer">
            <p>
              Yo Seb, est ce que ça serai possible de bien cuire mon steak parce
              que je suis pas fan de la cuisson au bleu.
            </p>
          </div>
        </div>
      </div>

      <div class="flex-row align commandContainer">
        <div class="suppr">
          <img src="img/add.png" class="cruce" />
        </div>
        <div>
          <p>Alexandre Le Gaulois</p>
          <p class="colorSandwich">Cow-Miam</p>
          <p>Orangina / Panini nutella</p>
          <p>3.00€</p>
          <p>Mardi 7 Juin</p>
          <p class="statut">En cours</p>
        </div>
        <div class="paiementValidate">Paiement effectué</div>
        <div class="infos">
          +
          <div class="infosContainer">
            <p>
              J'aimerai si possible avoir une petite part de steak dans mon
              cow-miam parce que je souhaite pas manger trop lourd et pas
              beacoup de ketchup aussi parce que un peu c'est bien mais trop
              c'est moins bien.
            </p>
          </div>
        </div>
      </div>

      <div class="flex-row align commandContainer">
        <div class="suppr">
          <img src="img/add.png" class="cruce" />
        </div>
        <div>
          <p>Alexandre Le Gaulois</p>
          <p class="colorSandwich">Cow-Custom</p>
          <div class="popupCustom">
            <div>
              <img src="img/height.svg" />
              <p>Small</p>
            </div>
            <div>
              <img src="img/meat.svg" />
              <p>Steak Cordon Bleu</p>
            </div>
            <div>
              <img src="img/salad.svg" />
              <p>Cheddar Lardons Salade Tomates</p>
            </div>
            <div>
              <img src="img/sauce-bottle.svg" />
              <p>Mayonnaise</p>
            </div>
          </div>
          <p>Orangina / Panini nutella</p>
          <p>3.00€</p>
          <p>Mardi 7 Juin</p>
          <p class="statut">Annulé</p>
        </div>
        <div class="paiementValidate">Paiement effectué</div>
        <div class="infos">
          +
          <div class="infosContainer">
            <p>
              Bonsoir nous somme l'administration français et nous avons été
              récemment au fait de votre marché noir de sandwich nous vous
              contactons donc afin de vous demander d'arrêter parce que c'est
              pas super gentil de pas payer vos taxes et nous on aime l'argent
            </p>
          </div>
        </div>
      </div>
    </section>

    <h2>Stock</h2>
    <h3>Viandes</h3>
    <section class="sectionStock">
      <div class="compteurContainer">
        <div class="dish">
          <div class="dish-img"><img src="img/steak.png" /></div>
          <div class="dish-compteur">
            <div class="dish-arrow">
              <img src="img/top-arrow.png" class="arrowUp" />
              <img src="img/bottom-arrow.png" class="arrowDown" />
            </div>
            <b>0</b>
          </div>
        </div>
        <div class="compteurBottom">
          <p>Steak</p>
          <div>Besoin:<span class="besoin"> 6</span></div>
          <div class="initBesoin">
            <img src="img/add.png" class="cross" />
          </div>
        </div>
      </div>

      <div class="compteurContainer">
        <div class="dish">
          <div class="dish-img"><img src="img/steak.png" /></div>
          <div class="dish-compteur">
            <div class="dish-arrow">
              <img src="img/top-arrow.png" class="arrowUp" />
              <img src="img/bottom-arrow.png" class="arrowDown" />
            </div>
            <b>0</b>
          </div>
        </div>
        <div class="compteurBottom">
          <p>Steak</p>
          <div>Besoin:<span class="besoin"> 6</span></div>
          <div class="initBesoin">
            <img src="img/add.png" class="cross" />
          </div>
        </div>
      </div>
    </section>

    <h3>Suppléments</h3>
    <section></section>

    <h3>Sauces</h3>
    <section></section>

    <script src="js/admin.js"></script>
  </body>
</html>
