<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="icon/png" href="../public/img/favicon.png"/>
		<title>Mon Compte - Cow-snack</title>
		<link rel="stylesheet" href="../public/css/unique.css">
		<link rel="stylesheet" href="../public/css/header.css">
		<link rel="stylesheet" href="../public/css/footer.css">
<!-- 		<script src="../../public/js/jquery-3.4.1.min.js"></script> -->
	</head>
	<body id="compte">
		<div class="flex-row align">
			<img src="../public/img/logo.png" class="logoFirst">
			<div class="flex-row align">
				<a href="/" class="flex-end">
					<div class="bouton">Accueil</div>
				</a>
				<div class="deconnexion">Se déconnecter</div>
			</div>
		</div>
		<h2>Mon Profil</h2>
		<div class="flex-row profil">
			<div id="nameCompte">
				<h4>Prénom</h4>
				<div>Alexandre</div>
			</div>
			<div id="nameFamilyCompte">
				<h4>Nom</h4>
				<div>Le Gaulois</div>
			</div>
			<div id="telCompte">
				<h4>Numéro de téléphone</h4>
				<div>07 58 63 98 56</div>
			</div>
		</div>
		<div class="flex-row align-end">	
			<div id="mailCompte">
				<h4>Email</h4>
				<div>alexandre.legaulois@gmail.com</div>
			</div>
			<h4 class="changePassword">Vous souhaitez changer de mot de passe ? <a href="">Cliquez-ici</a></h4>
		</div>
		<h2>Mes Commandes</h2>
		<section id="commandCompte">
			<div class="topCommand">
				<h3>Date</h3>
				<h3>Nom du Sandwich</h3>
				<h3>Boisson & Dessert</h3>
				<h3>Prix</h3>
				<h3>Statut</h3>
			</div>
			<div class="flex-row align">
				<div class="commandContainer">
					<p>Mercredi 28 Juin</p>
					<p>Cow-Miam</p>
					<p>Orangina / Panini nutella</p>
					<p>3.00€</p>
					<p id="statut">Livré</p>
				</div>
				<div class="recommand">recommandé le même</div>
			</div>
			<div class="flex-row align">
				<div class="commandContainer">
					<p>Mercredi 28 Juin</p>
					<p>Cow-Miam</p>
					<p>Orangina / Panini nutella</p>
					<p>3.00€</p>
					<p id="statut">Livré</p>
				</div>
				<div class="recommand">recommandé le même</div>
			</div>
		</section>
		<script src="../public/js/recommand.js"></script>
	</body>
</html> 