<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="icon/png" href="img/favicon.png"/>
		<title>Nous contacter - Cow-snack</title>
		<link rel="stylesheet" href="css/unique.css">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/footer.css">
<!-- 		<script src="../js/jquery-3.4.1.min.js"></script> -->
	</head>
	<body>
		<header>
			<img src="img/logo.png" class="logo">
			<div>
				<a href="sandwich.html">Sandwich</a>
				<a href="special.html">Spéciales</a>
					<!-- Ajout de la div du panier -->
				<a href="panier.html"> 
					<img src="img/panierWhite.png" class="panier">
				</a>
				<a href="connexion.html" class="activeCompte">
					<div class="connexion">Connexion</div>
					<div class="deconnected">Se déconnecter</div>
				</a>
			</div>
		</header>

		<section id="contact">
		
		<div>
			<h2>Un problème est arrivé sur notre site signalez le nous !</h2>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSciZ-1yFi0dnJx2LyphNdfR__YDN6s7c8Gx-UyCvYU_mLdTSg/viewform?usp=sf_link">
				<div class="bouton">Signalez le problème</div>
			</a>
		</div>

		<div>			
			<h2>Vous souhaitez ajoutez un ingrédient à notre catalogue, faite une demande ici !</h2>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSf0iuTB0F5dltd1kVVzfjDESQmJqg82wLAj4ieqAdc_tQ9L4A/viewform?usp=sf_link">
				<div class="bouton">Faire une demande</div>
			</a>
		</div>
		</section>

		<footer>
			<img src="img/logoWhite.png" id="logo">
			<div>
				<a href="contact.html">Nous contacter</a>
				<a href="apropos.html">À propos</a>
				<a href="conditionsgenerales.html">Conditions générales</a>
				<a href="politique.html">Politique de Confidentialité</a>
				<a href="mentionslegales.html">Mentions Légales</a>
			</div>
		</footer>
	</body>
</html> 