<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="icon/png" href="../public/img/favicon.png"/>
		<title>Crée une compte - Cow-snack</title>
		<link rel="stylesheet" href="../public/css/unique.css">
		<link rel="stylesheet" href="../public/css/header.css">
		<link rel="stylesheet" href="../public/css/footer.css">
<!-- 		<script src="../js/jquery-3.4.1.min.js"></script> -->
	</head>
	<body id="connexion">

		<a href="index.ejs" class="flex-end abs-button">
			<div class="bouton">Retourner à l'accueil</div>
		</a>
		<img src="../public/img/logo.png" class="highLogo">

		<div class="flex-col align">
			<h1>Crée un compte</h1>
			<h3>Bienvenue chez nous 🤠</h3>
		</div>	
		<div class="flex-col align">	
			<div class="flex-row align">
				<input type="text" id="familyName" placeholder="Nom" required>
				<input type="text" id="firstName" placeholder="Prénom" required>
			</div>
			<input type="email" id="mail" placeholder="Email" required>
			<input type="tel"  pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}" placeholder="Téléphone" id="tel" required>
			<input type="password" id="password" placeholder="Mot de passe" required>
		</div>

		<a href="connexion.html"><h4>Vous avez déjà un compte ! Connectez-vous 😊</h4></a>
		<input type="submit" value="Crée le compte" class="bouton" id="createCompte">
	</body>
</html> 