<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="icon/png" href="img/favicon.png"/>
		<title>Dessert & Boissons - Cow-snack</title>
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/footer.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/unique.css">
	</head>
	<body>
		<header>
			<img src="img/logo.png" class="logo">
			<div>
				<a href="sandwich.html">Sandwich</a>
				<a href="special.html">Spéciales</a>
					<!-- Ajout de la div du panier -->
				<a href="panier.html"> 
					<img src="img/panierWhite.png" class="panier">
				</a>
				<a href="connexion.html" class="activeCompte">
					<div class="connexion">Connexion</div>
					<div class="deconnected">Se déconnecter</div>
				</a>
			</div>
		</header>

		<section id="TopDessert">
				<h1>Boissons et Desserts</h1>
					<a href="dessert.html">
						<div class="annul">
							<img src="img/left-arrow.svg" width="10%">
							Revenir en arrière
						</div>
					</a>
				<div id="recapDessert">
					<img src="img/thon.png" id="recapImage">
					<div>
						<div class="flex-row align"><h4>Sandwich</h4><h6>Prix</h6></div>
						<div class="flex-row align recapSauce">
							<h5>Sauce</h5><p>Mayonnaise</p>
						</div>
						<div class="flex-row align ingredient">
							<h5>Ingrédients</h5>
							<p>Thon, tomates, oeufs, oignons</p>
						</div>
						<div class="flex-row align">
							<div class="extend align">
								<h5>Taille</h5><p>Small</p>
							</div>
							<p class="price">3.00€</p>
						</div>
						<div class="flex-row align">
							<h4>Boisson</h4>
							<div class="reserve">
								<p class="price">- -</p><p>-</p>
							</div>
						</div>
						<div class="flex-row align">
							<h4>Dessert</h4><div class="reserve"><p class="price">- - </p><p>-</p></div>
						</div>
						<div class="line"></div>
						<div class="flex-row align"><h3>Total</h3><p class="totalPrice">3.00€</p></div>
					</div>
				</div>
				<h2>Une <b>boisson </b><span class="red">?</span>, un <b>dessert</b><span class="red"> ?</span></h2>
				<div id="choiceDessert">
						<button type="button" id="drinkButton">
							<img src="img/can.png" width="100vw" class="vitrine">
						</button>
						<button type="button" id="dessertButton">
							<img src="img/cookies.png" width="100vw" class="vitrine">
						</button>
				</div>
		</section>



		<!--  -->
		<section id="cowDessert">
			<form>
				<section class="Boissons">
					<h2>Boisson</h2>
					<div class="flex-row align extend wrap">
						<div id="groupDrink">
							<div class="flex-row">
								<div class="sodaButton">
									<input type="radio" name="soda" value="coca" id="coca">
									<label for="coca"><img src="img/coca.jpg"></label>
								</div>
								<div class="sodaButton">
									<input type="radio" name="soda" value="fuzetea" id="fuzetea">
									<label for="fuzetea"><img src="img/fuzetea.jpg"></label>
								</div>
								<div class="sodaButton">
									<input type="radio" name="soda" value="fanta" id="fanta">
									<label for="fanta"><img src="img/fanta.jpg"></label>
								</div>
							</div>
							<div class="flex-row">
								<div class="sodaButton">
									<input type="radio" name="soda" value="tropico" id="tropico">
									<label for="tropico"><img src="img/tropico.jpg"></label>
								</div>
								<div class="sodaButton">
									<input type="radio" name="soda" value="sprite" id="sprite">
									<label for="sprite"><img src="img/sprite.jpg"></label>
								</div>
								<div class="sodaButton">
									<input type="radio" name="soda" value="lipton" id="lipton">
									<label for="lipton"><img src="img/lipton.jpg"></label>
								</div>
							</div>
							<div class="flex-row"> 
								<div class="sodaButton">
									<input type="radio" name="soda" value="orangina" id="orangina">
									<label for="orangina"><img src="img/orangina.jpg"></label>
								</div>
								<div class="sodaButton">
									<input type="radio" name="soda" value="7up" id="7up">
									<label for="7up"><img src="img/7up.jpg"></label>
								</div>
								<div class="sodaButton">
									<input type="radio" name="soda" value="pepsi" id="pepsi">
									<label for="pepsi"><img src="img/pepsi.jpg"></label>
								</div>
							</div>
						</div>
						<div id="customDrink">
							<h3>Vous ne trouvez pas la boisson que vous cherchez ?</h3>
							<div class="nameDrink">
								<h5>Dites-nous de quelle boisson il s'agit ?</h5>
								<input type="" name="" class="name">
								<p>Si la boisson est indisponible, vous serez recontacté pour en choisir une autre.</p>
							</div>
						</div>
					</div>
				</section>
				<section class="Desserts">
								<h2>Dessert</h2>
								<div id="buttonDessert" class="flex-row wrap pad-200">
				  					<div>
				  						<button type="button" id="nutella"><img src="img/panini-nutella.png" width="90%"></button>
				  						<p>Panini Nutella</p>
				  					</div>
				  					<div>
				  						<button type="button" id="cookies"><img src="img/cookie.png" width="100%"></button>
				  						<p>Cookies</p>
				  					</div>
				  					<div>
				  				    	<button type="button" id="confiture"><img src="img/confiture.png" width="90%"></button>
				  				    	<p>Panini Confiture</p>
				  					</div>
				  				</div>
				</section>
				
				<div class="submite">
					<input type="submit" name="" value="Finaliser la commande" id="customsubmit">
				</div>
				
			</form>
		</section>



		<footer>
			<img src="img/logoWhite.png" id="logo">
			<div>
				<a href="contact.html">Nous contacter</a>
				<a href="apropos.html">À propos</a>
				<a href="conditionsgenerales.html">Conditions générales</a>
				<a href="politique.html">Politique de Confidentialité</a>
				<a href="mentionslegales.html">Mentions Légales</a>
			</div>
		</footer>
		<script type="text/javascript">

			function opacitySoda() {
				document.querySelectorAll('.sodaButton').classList.toggle('opac');
			}

			function goToDrink() {
				document.querySelector('.Boissons').classList.toggle('opac');
			}

			function goToDessert() {
				document.querySelector('.Desserts').classList.toggle('opac');
			}

			document.querySelector('#drinkButton').addEventListener('click', goToDrink);
			document.querySelector('#dessertButton').addEventListener('click', goToDessert);

			document.querySelector('.sodaButton').addEventListener('click', opacitySoda);


			// Changement de style des boutons.
			var buttons = document.querySelectorAll('img');

			for (var i = 0; i < buttons.length; i++) {
				buttons[i].addEventListener('click', function(event){
					event.target.parentElement.classList.toggle('active');
				});
			} 

		</script>
		
	</body>
</html> 