<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="icon/png" href="img/favicon.png"/>
		<title>Commande effectué - Cow-snack</title>
		<link rel="stylesheet" href="css/unique.css">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/footer.css">
<!-- 		<script src="../js/jquery-3.4.1.min.js"></script> -->
	</head>
	<body>
		<header>
			<img src="img/logo.png" class="logo">
			<div>
				<a href="sandwich.html">Sandwich</a>
				<a href="special.html">Spéciales</a>
					<!-- Ajout de la div du panier -->
				<a href="panier.html"> 
					<img src="img/panierWhite.png" class="panier">
				</a>
				<a href="connexion.html" class="activeCompte">
					<div class="connexion">Connexion</div>
					<div class="deconnected">Se déconnecter</div>
				</a>
			</div>
		</header>

		<section id="end">
			<form>
				<div class="titled">
					<h1>Merci de votre commande ! 😀</h1>	
					<h2>À bientôt, pour un autre repas chez nous 😉</h2>
				</div>
				<div class="flex-row align">
					<div>
						<h4>Combien de chapeau cowboy vaut notre service ?</h4>
						<div id="rate">
							<img src="img/favicon.png" class="cowRate">
							<img src="img/favicon.png" class="cowRate">
							<img src="img/favicon.png" class="cowRate">
							<img src="img/favicon.png" class="cowRate">
							<img src="img/favicon.png" class="cowRate star">
						</div>
					</div>
					<div>
						<h4>Des remarques ?</h4>
						<input type="text" name="" id="remarque"><input type="submit" id="envoiRemarque" value="Envoyer">
						<p>Seb lira vos remarques afin d'améliorer son service</p>
					</div>
				</div>
				<p>Cow-Snack et Seb vous remercie pour votre confiance et nos services.</p>
			</form>
		</section>
		<footer>
			<img src="img/logoWhite.png" id="logo">
			<div>
				<a href="contact.html">Nous contacter</a>
				<a href="apropos.html">À propos</a>
				<a href="conditionsgenerales.html">Conditions générales</a>
				<a href="politique.html">Politique de Confidentialité</a>
				<a href="mentionslegales.html">Mentions Légales</a>
			</div>
		</footer>
		<script>
			let rate = document.querySelectorAll('.cowRate');

			for(let i = 0; i < rate.length; i++){
				rate[i].addEventListener('click', function(event){
						event.target.classList.add('choose');
						for(let y = 0; y < 5; y++){
							console.log(i);
							if(i < y){
								event.target.parentElement.children[y].classList.remove('choose');	
							}
							else{
								event.target.parentElement.children[y].classList.add('choose');	
							}
						}
				});
			}

			document.querySelector('.star').addEventListener('click', function(event){
				for (let e = 0; e < 5; e++){
					event.target.parentElement.children[e].classList.toggle('anim');
				}
			})
		</script>
	</body>
</html> 