<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="icon/png" href="img/favicon.png"/>
		<title>Commande effectué - Cow-snack</title>
		<link rel="stylesheet" href="css/unique.css">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/footer.css">
	</head>
	<body>
		<header>
			<img src="img/logo.png" class="logo">
			<div>
				<a href="sandwich.html">Sandwich</a>
				<a href="special.html">Spéciales</a>
				<div class="coverBasket">
					<img src="img/panierWhite.png" class="panier">
					<div class="basket">
						<img src="img/slope.png" class="slope">
						<h3>Commandes</h3>
						<div class="basketImg">
							<img src="img/sandwich.png"/>
							<img src="img/drink.png"/>
							<img src="img/icon-cookie.png"/>
						</div>
						<div class="basketCommand">
							<div>
								<h5>Sandwich</h5>
								<div><p>Cow-Thon</p><p>Orangina</p><p>Panini</p></div>
							</div>
							<div><h5>Livraison</h5><p>Mardi 6 Août</p></div>
							<hr>
						</div>
						<hr>
						<div class="flex-row align"><h4>Total</h4><h4>3.00€</h4></div>
						<div class="bBask"><button class="basketCancel">Annuler</button><button class="basketAction">Commander</button></div>
					</div>
				</div>
				<a href="connexion.html" class="activeCompte">
					<div class="connexion">Connexion</div>
					<div class="deconnected">Se déconnecter</div>
				</a>
			</div>
		</header>

		<section id="end">
			<form>
				<div class="titled">
					<h1>Merci de votre commande ! 😀</h1>	
					<h2>À bientôt, pour un autre repas chez nous 😉</h2>
				</div>
				<div class="flex-row align">
					<div>
						<h4>Combien de chapeau cowboy vaut notre service ?</h4>
						<div id="rate">
							<img src="img/favicon.png" class="cowRate">
							<img src="img/favicon.png" class="cowRate">
							<img src="img/favicon.png" class="cowRate">
							<img src="img/favicon.png" class="cowRate">
							<img src="img/favicon.png" class="cowRate star">
						</div>
					</div>
					<div>
						<h4>Des remarques ?</h4>
						<input type="text" name="" id="remarque"><input type="submit" id="envoiRemarque" value="Envoyer">
						<p>Seb lira vos remarques afin d'améliorer son service</p>
					</div>
				</div>
				<p>Cow-Snack et Seb vous remercie pour votre confiance et nos services.</p>
			</form>
		</section>
		<footer>
			<img src="img/logoWhite.png" id="logo">
			<div>
				<a href="contact.html">Nous contacter</a>
				<a href="apropos.html">À propos</a>
				<a href="conditionsgenerales.html">Conditions générales</a>
				<a href="politique.html">Politique de Confidentialité</a>
				<a href="mentionslegales.html">Mentions Légales</a>
			</div>
		</footer>
		<script src="js/rate.js"></script>
	</body>
</html> 