<img src="img/logoWhite.png" id="logo">
<div>
	<a href="contact.html">Nous contacter</a>
	<a href="apropos.html">À propos</a>
	<a href="conditionsgenerales.html">Conditions générales</a>
	<a href="politique.html">Politique de Confidentialité</a>
	<a href="mentionslegales.html">Mentions Légales</a>
</div>