<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="icon/png" href="img/favicon.png"/>
		<title>Mot de passe oublié - Cow-snack</title>
		<link rel="stylesheet" href="css/unique.css">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/footer.css">
	</head>
	<body id="forgot">

		<a href="index.ejs" class="flex-end abs-button">
			<div class="bouton">Retourner à l'accueil</div>
		</a>
		<img src="img/logo.png" class="highLogo">

		<div class="flex-col align">
			<h1>Mot de passe oublié</h1>
			<h3>vous souhaitez changer de mot de passe ?</h3>
		</div>	
		<div class="flex-col align">	
			<input type="email" id="mailpassword" placeholder="Mail" required>
			<p>entrez votre email lié à votre compte Cow-Snack</p>
		</div>

		<input type="submit" value="Réinitialiser le mot de passe" class="bouton">
	</body>
</html> 