<img src="img/logo.png" id="logo">
<div>
	<a href="sandwich.html">Sandwich</a>
	<a href="special.html">Spéciales</a>
		<!-- Ajout de la div du panier -->
	<a href="panier.html"> 
		<img src="img/panierWhite.png" id="panier">
	</a>
	<a href="connexion.html" id="activeCompte">
		<div class="connexion">Connexion</div>
		<div id="deconnected">Se déconnecter</div>
	</a>
</div>