<a href="/">
	<img src="img/logo.png" class="logo">
</a>
<div>
	<a href="/sandwich">Sandwich</a>
	<a href="/special">Spéciales</a>
		<!-- Ajout de la div du panier -->
	<a href="/panier"> 
		<img src="img/panierWhite.png" class="panier">
	</a>
	<a href="/connexion" class="activeCompte">
		<div class="connexion">Connexion</div>
		<div class="deconnected">Se déconnecter</div>
	</a>
</div>