<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="icon/png" href="image/favicon.png"/>
		<title>Cow-snack</title>
		<link rel="stylesheet" href="css/style.css">
		<script src="../js/jquery-3.4.1.min.js"></script>
	</head>
	<body>
		<header></header>

		<section id="choiceSandwich">
			<a href="#cowmenu"></a>
			<a href="#cowcustom"></a>
		</section>
		<section id="cowmenu">
			<form>

			<!-- Menus -->
				<div>
					<h3>Nos Menus</h3>
				</div>

				<div id="menu" class="flex-row">
  					<div>
  						<button type="button" type="button" id="cow-classique"><img src="img/steak.png" width="40vw"></button>
  						<div class="popupfood">
  							<p>Jambon</p>
  							<p>Beurre</p>
  						</div>
  						<p>Cow-Classique</p>
  					</div>
  					<div>
  						<button type="button" id="cow-love"><img src="img/jambon.png"  width="40vw"></button>
  						<p>Cow-love</p>
  					</div>
  					<div>
  				    	<button type="button" id="cow-good"><img src="img/emince.png"  width="40vw"></button>
  				    	<p>Cow Good</p>
  					</div>
  					<div>
	  				    <button type="button" id="cow-healthy"><img src="img/nuggets.png"  width="40vw"></button>
	  				    <p>Cow-healthy</p>
  					</div>
  					<div>
  						<button type="button" id="cow-pasboy"><img src="img/merguez.png"  width="40vw"></button>
  						<p>Cow Pasboy</p>
  					</div>
  					<div>
  						<button type="button" id="cow-girl"><img src="img/merguez.png"  width="40vw"></button>
  						<p>Cow-girl</p>
  					</div>
  					<div>
  						<button type="button" id="cow-work"><img src="img/merguez.png"  width="40vw"></button>
  						<p>Cow Work</p>
  					</div>
  					<div>
  						<button type="button" id="cow-ma"><img src="img/merguez.png"  width="40vw"></button>
  						<p>Cow-Ma</p>
  					</div>
  					<div>
  						<button type="button" id="cow-without-cow"><img src="img/merguez.png"  width="40vw"></button>
  						<p>Cow Without-Cow</p>
  					</div>
  				</div>


			<!-- Taille -->
				<h3>Tailles</h3>
				<div class="flex-row wrap size">
					<div>
						<input type="radio" name="taille" value="small" id="small">
						<label for="small">S</label>
						<p>Tiers</p>
					</div>
					<div>
						<input type="radio" name="taille" value="medium" id="medium">
						<label for="medium">M</label>
						<p>Demi</p>
					</div>
					<div>
						<input type="radio" name="taille" value="large" id="large">
						<label for="large">L</label>
						<p>Baguette</p>
					</div>
				</div>

			<!-- Prix -->
				<h4>Total</h4>
				<p class="prix">3000€</p>

			<!-- Nom du Sandwich -->
				<p>Donnez un nom à votre sandwich</p>
				<input type="" name="" class="name">
				<p>Le nom du sandwich doit commencer par COW-</p>

				<input type="submit" name="" value="😋Poursuivre la commande" id="menusubmit">
			</form>
		</section>
		<section id="cowcustom">
			<form>

			<!-- Viandes -->
				<div class="flex-row">
					<h3>Viandes</h3><h5> &nbsp(2 max)</h5>
				</div>
				<div class="flex-row">
	  				<div id="viande" class="flex-row">
	  					<div>
	  						<button type="button" class="selecteurViande" value="selectedSteak"><img src="img/steak.png" width="40vw"></button>
	  						<p>Steak</p>
	  					</div>
	  					<div>
	  						<button type="button" class="selecteurViande" value="selectedJambon"><img src="img/jambon.png"  width="40vw"></button>
	  						<p>Jambon</p>
	  					</div>
	  					<div>
	  				    	<button type="button" class="selecteurViande" value="selectedEmince"><img src="img/emince.png"  width="40vw"></button>
	  				    	<p>Émincé de Poulet</p>
	  					</div>
	  					<div>
		  				    <button type="button" class="selecteurViande" value="selectedNuggets"><img src="img/nuggets.png"  width="40vw"></button>
		  				    <p>Nuggets</p>
	  					</div>
	  					<div>
	  						<button type="button" class="selecteurViande" value="selectedMerguez"><img src="img/merguez.png"  width="40vw"></button>
	  						<p>Merguez</p>
	  					</div>
	  				</div>
	      			<div class="cont-compteur">
	      				<div class="compteur" id="compteurViande">0</div>
	      				<p id="viandeLimit"></p>      				
	      			</div>
				</div>


			<!-- Suppléments -->
				<div class="flex-row"><h3>Suppléments</h3><h5> &nbsp(2 max)</h5></div>
				<div class="flex-row">
					<div id="supplement" class="flex-row">
						<div>
							<button type="button" class="selecteurSupp" value="selectedCheddar"><img src="img/cheddar.png" width="40vw"></button>
							<p>Cheddar</p>
						</div>
						<div>
	      					<button type="button" class="selecteurSupp" value="selectedBacon"><img src="img/bacon.png"  width="40vw"></button>
	      					<p>Bacon</p>
	      				</div>
						<div>
	      					<button type="button" class="selecteurSupp" value="selectedSalade"><img src="img/salade.png"  width="40vw"></button>
	      					<p>Salade</p>
	      				</div>
						<div>
	      					<button type="button" class="selecteurSupp" value="selectedGruyere"><img src="img/gruyere.png"  width="40vw"></button>
	      					<p>Gruyère</p>
						</div>
						<div>
							<button type="button" class="selecteurSupp" value="selectedTomate"><img src="img/tomates.png"  width="40vw"></button>
							<p>Tomates</p>
						</div>
	      				<div>
	      					<button type="button" class="selecteurSupp" value="selectedLardon"><img src="img/lardons.png"  width="40vw"></button>
	      				   	<p>Lardons</p>
	      				</div>
	      			</div>
	      			<div class="cont-compteur">
	      				<div class="compteur" id="compteurSupp">0</div>
	      				<p id="suppLimit"></p>      				
	      			</div>
				</div>


			<!-- Sauces -->
				<div class="flex-row">
					<h3>Sauces</h3><h5> &nbsp(3 max)</h5>
				</div>
				<div class="flex-row">
					<div id="sauce" class="flex-row">				
    					<div>
    					    <button type="button" class="selecteurSauce" value="selectedKetchup"><img src="img/ketchup.png" width="40vw"></button>
    					    <p>Ketchup</p>
    					</div>
    					<div>
    				    	<button type="button" class="selecteurSauce" value="selectedMayo"><img src="img/mayo.png"  width="40vw"></button>
    				    	<p>Mayonnaise</p>
    				    </div>
    				    <div>
    				    	<button type="button" class="selecteurSauce" value="selectedBBQ"><img src="img/bbq.png"  width="40vw"></button>
    				    	<p>Barbecue</p>
    				    </div>
    				    <div>
    				    	<button type="button" class="selecteurSauce" value="selectedBiggy"><img src="img/biggy.png"  width="40vw"></button>
    				    	<p>Biggy</p>
    					</div>
    					<div>
    					    <button type="button" class="selecteurSauce" value="selectedCurry"><img src="img/curry.png"  width="40vw"></button>
    					    <p>Curry</p>
    					</div>
    				</div>
    				<div class="cont-compteur">
	      				<div class="compteur" id="compteurSauce">0</div>
	      				<p id="sauceLimit"></p>
	      			</div>
				</div>

			<!-- Taille -->
				<h3>Tailles</h3>
				<div class="flex-row wrap size">
					<div>
						<input type="radio" name="taille" value="small" id="small">
						<label for="small">S</label>
						<p>Tiers</p>
					</div>
					<div>
						<input type="radio" name="taille" value="medium" id="medium">
						<label for="medium">M</label>
						<p>Demi</p>
					</div>
					<div>
						<input type="radio" name="taille" value="large" id="large">
						<label for="large">L</label>
						<p>Baguette</p>
					</div>
				</div>
			<!-- Prix -->
				<h4>Total</h4>
				<p class="prix">3000€</p>

			<!-- Nom du Sandwich -->
				<p>Donnez un nom à votre sandwich</p>
				<input type="" name="" class="name">
				<p>Le nom du sandwich doit commencer par COW-</p>

				<input type="submit" name="" value="😋Poursuivre la commande" id="customsubmit">
			</form>
		</section>


		<footer></footer>
		<script type="text/javascript">

			var commande = {
				name: '',
				phone: '',
				ingredients: {
					meat: {},
					supp: {},
					sauce: {},
					drink: {},
					dessert: {}
				}
			}

			// Viandes
			var selectedSteak 	= false;
			var selectedJambon 	= false;
			var selectedEmince 	= false;
			var selectedNuggets = false;
			var selectedMerguez = false;
			var allMeat = ['selectedSteak', 'selectedJambon', 'selectedEmince', 'selectedNuggets', 'selectedMerguez'];

			// Suppléments
			var selectedCheddar = false;
			var selectedBacon 	= false;
			var selectedSalade 	= false;
			var selectedGruyere = false;
			var selectedTomate 	= false;
			var selectedLardon 	= false;
			var allSupp = ['selectedCheddar', 'selectedBacon', 'selectedSalade', 'selectedGruyere', 'selectedTomate', 'selectedLardon'];

			//Sauces
			var selectedKetchup = false;
			var selectedMayo 	= false;
			var selectedBBQ 	= false;
			var selectedBiggy 	= false;
			var selectedCurry 	= false;
			var selectedBBQMiel	= false;
			var allSauce = ['selectedKetchup', 'selectedMayo', 'selectedBBQ', 'selectedBiggy', 'selectedCurry', 'selectedBBQMiel'];

			var viandeChoice = 0;

			var suppChoice = 0;

			var sauceChoice = 0;

			var allType = ['allMeat', 'allSupp', 'allSauce'];

			function updateCommand(){
				allType.forEach(element => {
					var ingredient = element.substring(3).toLowerCase();
					var ingredientNb = 0;
					eval(element).forEach(element => {
						if (eval(element + " == true")){
							eval("commande.ingredients."+ingredient+"[ingredient+ingredientNb.toString()] = element.substring(8)");
							ingredientNb++;
						}
					});
				});
				console.log(commande);
			};

			$('.selecteurViande, .selecteurSupp, .selecteurSauce').click(function(){
				if (eval(this.value + " ==  false") && eval(this.className.substring(9).toLowerCase()+"Choice" + "< 2")){
					eval(this.value + " = true");
					eval(this.className.substring(9).toLowerCase()+"Choice" + "++");
				} else {
					if (eval(this.value + " == true")){
						eval(this.className.substring(9).toLowerCase()+"Choice" + "--");
					}
					eval(this.value + " = false");
				}

				if (eval(this.className.substring(9).toLowerCase()+"Choice" + "== 2")){
					$('#'+this.className.substring(9).toLowerCase()+'Limit').text('Maximum Atteint😔');
				} else {
					$('#'+this.className.substring(9).toLowerCase()+'Limit').text('');
				}

				$('#compteur'+this.className.substring(9)).text(eval(this.className.substring(9).toLowerCase()+"Choice"));

				updateCommand();
			});

		</script>
	</body>
</html> 