<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="icon/png" href="../public/img/favicon.png"/>
		<title>Erreur - Cow-snack</title>
		<link rel="stylesheet" href="../public/css/unique.css">
		<link rel="stylesheet" href="../public/css/header.css">
		<link rel="stylesheet" href="../public/css/footer.css">
<!-- 		<script src="../js/jquery-3.4.1.min.js"></script> -->
	</head>
	<body>
		<header>
			<img src="../public/img/logo.png" class="logo">
			<div>
				<a href="sandwich.html">Sandwich</a>
				<a href="special.html">Spéciales</a>
					<!-- Ajout de la div du panier -->
				<a href="panier.html"> 
					<img src="../public/img/panierWhite.png" class="panier">
				</a>
				<a href="connexion.html" class="activeCompte">
					<div class="connexion">Connexion</div>
					<div class="deconnected">Se déconnecter</div>
				</a>
			</div>
		</header>

		<section id="maintenance">
			<div class="div404">
				<img src="../public/img/404.png" width="500px">
				<h2 class="repar">La page est indisponible pour le moment 😑 revenez plus tard quand elle sera réparé !😉</h2>
			</div>
			<a href="index.ejs">
				<div class="return">Retourner à l'accueil</div>
			</a>
		</section>

		<footer class="absolute">
			<img src="../public/img/logoWhite.png" id="logo">
			<div>
				<a href="contact.html">Nous contacter</a>
				<a href="apropos.html">À propos</a>
				<a href="conditionsgenerales.html">Conditions générales</a>
				<a href="politique.html">Politique de Confidentialité</a>
				<a href="mentionslegales.html">Mentions Légales</a>
			</div>
		</footer>
	</body>
</html> 