<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="icon/png" href="img/favicon.png"/>
		<title>Mentions Légales - Cow-snack</title>
		<link rel="stylesheet" href="css/law.css">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/footer.css">
	</head>
	<body>
		<header>
			<% include header %>
		</header>

		<section class="law">
			<h1>Mentions Légales</h1>
			<div class="lineLaw"></div>
			<p>L’édition et la direction de la publication du site <a href="https://www.cow-snack.fr">https://www.cow-snack.fr</a> est assurée par Sebastien Plottu, domicilié à Nantes.</p>	
			<p class="alignLeft"><strong>Numéro de téléphone</strong> 07 83 23 42 23.</p>					
			<p class="alignLeft"><strong>Adresse e-mail</strong> sebastien.plotttu@gmail.com.</p>					
			<p>L’hébergeur est la société OVH ayant pour siège social : 2 rue Kellermann - 59100 Roubaix - France</p>
		</section>

		<footer>
			<% include footer %>
		</footer>
	</body>
</html> 