<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="icon/png" href="img/favicon.png"/>
		<title>Sandwich - Cow-snack</title>
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/footer.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<img src="img/logo.png" class="logo">
			<div>
				<a href="sandwich.html">Sandwich</a>
				<a href="special.html">Spéciales</a>
					<!-- Ajout de la div du panier -->
				<a href="panier.html"> 
					<img src="img/panierWhite.png" class="panier">
				</a>
				<a href="connexion.html" class="activeCompte">
					<div class="connexion">Connexion</div>
					<div class="deconnected">Se déconnecter</div>
				</a>
			</div>
		</header>

		<section id="choiceSandwich">
			<div class="presentation-sandwich">
				<div class="flex-col">
					<h2>Nos Sandwich</h2>
					<div class="line"></div>
					<p class="para-sand">Nos délicieux sandwich sont préparés le matin même avec des ingrédients sélectionnés par notre grand cuisinier et maître coq <strong>Sebou</strong></p>
				</div>
				<img src="img/main.png" width="40%" alt="sandwich presentation">
			</div>
			<div class="choicebutton">
				<a href="#cowmenu" onclick="opacityMenu()">
				<div id="choicemenu">
					<h3>Cow-Menu</h3>
					<p>Choisissez le sandwich de vos rêves parmi notre sélection</p>
				</div>
				</a>
				<a href="#cowcustom" onclick="opacityCustom()">
				<div id="choicecustom">
					<h3>Cow-Custom</h3>
					<p>Personnalisez votre sandwich et donnez lui un nom</p>
				</div>
				</a>
			</div>
		</section>

		<!-- Cow-Menu -->
		<section id="cowmenu">
			<form action="dessert.html">

			<!-- Menus -->
				<div class="symbol">
					<h3>Nos Menus</h3>
					<div class="weekAlert">
						<div class="redAlert">!</div>
						<p>Disponible seulement pour la semaine prochaine</p>
					</div>
				</div>
				<div id="menu" class="wrap">
  					<div>
  						<div class="symbolRight">
  						  	<p>Cow-Classique</p>
  						  	<div class="weekAlert">
  								<div class="redAlert">!</div>
  								<div class="textAlert">Indisponible cette semaine</div>
  							</div>
  						</div>
  						<button type="button" id="cow-classique"><img src="img/cow-classique.png" width="100vw" class="vitrine" alt="sandwich"></button>
  						
  						<div class="popupfood">
  							<p> &#8226; &nbsp Jambon</p>
  							<p> &#8226; &nbsp Beurre</p>
  							<p></p>
  						</div>
  					</div>
  					<div>
  						 <div class="symbolRight">
  						  	<p>Cow-Love</p>
  						  	<div class="weekAlert">
  								<div class="redAlert">!</div>
  								<div class="textAlert">Indisponible cette semaine</div>
  							</div>
  						</div>
  						<button type="button" id="cow-love"><img src="img/cow-love.png"  width="100vw" class="vitrine" alt="sandwich"></button>
  						
  						<div class="popupfood">
  							<p> &#8226; &nbsp Émincé de Poulet</p>
  							<p> &#8226; &nbsp Tomate, Beurre</p>
  							<p> &#8226; &nbsp Gruyère</p>
  						</div>
  						
  					</div>
  					<div>
  						<p>Cow Good</p>
  				    	<button type="button" id="cow-good"><img src="img/cow-good.png"  width="100vw" class="vitrine" alt="sandwich"></button>
  				    	<div class="popupfood">
  							<p> &#8226; &nbsp Steak, Bacon</p>
  							<p> &#8226; &nbsp Cheddar, Lardons</p>
  							<p> &#8226; &nbsp Gruyère</p>
  						</div>
  				    
  					</div>
  					<div>
  						<p>Cow-healthy</p>
	  				    <button type="button" id="cow-healthy"><img src="img/cow-healthy.png"  width="100vw" class="vitrine" alt="sandwich"></button>
	  				    <div class="popupfood">
  							<p> &#8226; &nbsp Émincé de poulet</p>
  							<p> &#8226; &nbsp Salade, Tomate</p>
  							<p> &#8226; &nbsp Ketchup</p>
  						</div>
	  				    
  					</div>
  					<div>
  						<p>Cow Pasboy</p>
  						<button type="button" id="cow-pasboy"><img src="img/cow-pasboy.png"  width="100vw" class="vitrine" alt="sandwich"></button>
  						<div class="popupfood">
  							<p> &#8226; &nbsp Steak, Saucisse</p>
  							<p> &#8226; &nbsp Salade, Tomate</p>
  							<p> &#8226; &nbsp Biggy</p>
  						</div>
  						
  					</div>
  					<div>
  						<p>Cow-girl</p>
  						<button type="button" id="cow-girl"><img src="img/cow-girl.png"  width="100vw" class="vitrine" alt="sandwich"></button>
  						<div class="popupfood">
  							<p> &#8226; &nbsp Merguez, Cordon bleu</p>
  							<p> &#8226; &nbsp Gruyère, Tomate</p>
  							<p> &#8226; &nbsp Ketchup</p>
  						</div>
  						
  					</div>
  					<div>
  						<p>Cow Work</p>
  						<button type="button" id="cow-work"><img src="img/cow-work.png"  width="100vw" class="vitrine" alt="sandwich"></button>
  						<div class="popupfood">
  							<p> &#8226; &nbsp Steak, Cheddar</p>
							<p> &#8226; &nbsp Salade, Tomate</p>
							<p> &#8226; &nbsp Biggy</p>
						</div>
  						
  					</div>
  					<div>
  						<p>Cow-Ma</p>
  						<button type="button" id="cow-ma"><img src="img/cow-ma.png"  width="100vw" class="vitrine" alt="sandwich"></button>
  						<div class="popupfood">
  							<p> &#8226; &nbsp Merguez, Nuggets</p>
							<p> &#8226; &nbsp Gruyère</p>
							<p> &#8226; &nbsp Pâtes</p>
						</div>
  					</div>
  					<div>
  						<p>Cow Without-Cow</p>
  						<button type="button" id="cow-without-cow"><img src="img/cow-without-cow.png"  width="100vw" class="vitrine" alt="sandwich"></button>
	  					<div class="popupfood">
	  						<p> &#8226; &nbsp Nuggets</p>
	  						<p> &#8226; &nbsp Salade, Bacon</p>
	  						<p> &#8226; &nbsp Barbecue-miel</p>
	  					</div>
  						
  					</div>
  				</div>


			<!-- Taille -->
				<h3 class="deport">Tailles</h3>
				<div class="flex-row wrap size">
					<div>
						<input type="radio" name="taille" value="small" id="small">
						<label class="radioSize" for="small">S</label>
						<p>Tiers</p>
					</div>
					<div>
						<input type="radio" name="taille" value="medium" id="medium">
						<label class="radioSize" for="medium">M</label>
						<p>Demi</p>
					</div>
					<div>
						<input type="radio" name="taille" value="large" id="large">
						<label class="radioSize" for="large">L</label>
						<p>Baguette</p>
					</div>
				</div>

			<!-- Prix -->
				<div class="prix">
					<h4>Total</h4>
					<p>3.00€</p>
				</div>
				<div class="submite">
					<input type="submit" name="" value="😋 Poursuivre la commande" id="menusubmit">
				</div>
			</form>
		</section>



		<!-- Cow-custom -->
		<section id="cowcustom">
			<form action="dessert.html">

				<!-- Viandes -->
				<div class="symbol">			
					<div class="flex-row title">
						<h3>Viandes</h3><h6> &nbsp(2 max)</h6>
					</div>
					<div class="weekAlert">
						<div class="redAlert">!</div>
						<p>Disponible seulement pour la semaine prochaine</p>
					</div>
				</div>


  				<div id="viande" class="flex-row wrap pad-200">
  					<div>
  						<button type="button" id="steak"><img src="img/steak.png" width="100vw" alt="viandes"></button>
  						<p>Steak</p>
  					</div>
  					<div>
  						<button type="button" id="jambon"><img src="img/jambon_blanc.png"  width="80vw" alt="viandes"></button>
  						<p>Jambon</p>
  					</div>
  					<div>
  				    	<button type="button" id="poulet"><img src="img/emince_poulet.png"  width="100vw" alt="viandes"></button>
  				    	<p>Émincé de Poulet</p>
  					</div>
  					<div>
	  				    <button type="button" id="nuggets"><img src="img/nuggets.png"  width="100vw" alt="viandes"></button>
	  				    <p>Nuggets</p>
  					</div>
  					<div>
  						<button type="button" id="merguez"><img src="img/merguez.png"  width="100vw" alt="viandes"></button>
  						<p>Merguez</p>
  					</div>
  				</div>

				<div class="cont-compteur">
      				<div class="compteur">0</div>
      				<p class="limit">Maximum Atteint😔</p>      				
      			</div>


			<!-- Suppléments -->
				<div class="flex-row title deport">
					<h3>Suppléments</h3><h6> &nbsp(2 max)</h6>
				</div>
					<div id="supplement" class="flex-row wrap pad-200">
						<div>
							<button type="button" id="cheddar"><img src="img/cheddar.png" width="100vw" alt="supplement"></button>
							<p>Cheddar</p>
						</div>
						<div>
	      					<button type="button" id="bacon"><img src="img/bacon.png"  width="100vw" alt="supplement"></button>
	      					<p>Bacon</p>
	      				</div>
						<div>
	      					<button type="button" id="salade"><img src="img/salade.png"  width="100vw" alt="supplement"></button>
	      					<p>Salade</p>
	      				</div>
						<div>
	      					<button type="button" id="gruyère"><img src="img/gruyere.png"  width="100vw" alt="supplement"></button>
	      					<p>Gruyère</p>
						</div>
						<div>
							<button type="button" id="tomates"><img src="img/tomate.png"  width="100vw" alt="supplement"></button>
							<p>Tomates</p>
						</div>
	      				<div>
	      					<button type="button" id="lardons"><img src="img/lardons.png"  width="100vw" alt="supplement"></button>
	      				   	<p>Lardons</p>
	      				</div>
	      			</div>
	      			<div class="cont-compteur">
	      				<div class="compteur">0</div>
	      				<p class="limit">Maximum Atteint😔</p>      				
	      			</div>



			<!-- Sauces -->
				<div class="flex-row title deport">
					<h3>Sauces</h3><h6> &nbsp(3 max)</h6>
				</div>

				<div id="sauce" class="flex-row wrap pad-200">				
					<div>
					    <button type="button" id="ketchup"><img src="img/ketchup.png" width="100vw" alt="sauces"></button>
					    <p>Ketchup</p>
					</div>
					<div>
				    	<button type="button" id="mayo"><img src="img/mayo.png"  width="100vw" alt="sauces"></button>
				    	<p>Mayonnaise</p>
				    </div>
				    <div>
				    	<button type="button" id="bbq"><img src="img/bbq_miel.png"  width="100vw" alt="sauces"></button>
				    	<p>Barbecue-Miel</p>
				    </div>
				    <div>
				    	<button type="button" id="biggy"><img src="img/biggy.png"  width="100vw" alt="sauces"></button>
				    	<p>Biggy</p>
					</div>
					<div>
					    <button type="button" id="curry"><img src="img/curry.png"  width="100vw" alt="sauces"></button>
					    <p>Curry</p>
					</div>
				</div>
				<div class="cont-compteur">
	      			<div class="compteur">0</div>
	      			<p class="limit">Maximum Atteint😔</p>      				
	      		</div>

			<!-- Taille -->
				<h3 class="title deport">Tailles</h3>
				<div class="flex-row wrap size">
					<div>
						<input type="radio" name="taille2" value="small" id="small2">
						<label class="radioSize" for="small2">S</label>
						<p>Tiers</p>
					</div>
					<div>
						<input type="radio" name="taille2" value="medium" id="medium2">
						<label class="radioSize" for="medium2">M</label>
						<p>Demi</p>
					</div>
					<div>
						<input type="radio" name="taille2" value="large" id="large2">
						<label class="radioSize" for="large2">L</label>
						<p>Baguette</p>
					</div>
				</div>

				<!-- Prix -->
				<div class="prix">
					<h4>Total</h4>
					<p>3.00€</p>
					<div class="nameSandwich">
						<h5>Donnez un nom à votre sandwich 😉</h5>
						<input type="" name="" class="name">
						<p>Le nom du sandwich doit commencer par COW-</p>
					</div>
					<div class="nameSandwich">
						<h5>Des précisions sur votre Sandwich <span class="red">?</span></h5>
						<input type="text" name="" class="name">
						<p>Une cuisson spécifique, une plus petite quantité, ...</p>
					</div>
				</div>
			<!-- Nom du Sandwich -->
				
				<div class="submite">
					<input type="submit" name="" value="😋 Poursuivre la commande" id="customsubmit">
				</div>
				
			</form>
		</section>



		<footer>
			<img src="img/logoWhite.png" id="logo">
			<div>
				<a href="contact.html">Nous contacter</a>
				<a href="apropos.html">À propos</a>
				<a href="conditionsgenerales.html">Conditions générales</a>
				<a href="politique.html">Politique de Confidentialité</a>
				<a href="mentionslegales.html">Mentions Légales</a>
			</div>
		</footer>
		<script type="text/javascript">

			function openMenu() {
				document.querySelector('#cowmenu').classList.toggle('see');
				document.querySelector('#cowcustom').classList.remove('see');
			}
			function openCustom() {
				document.querySelector('#cowcustom').classList.toggle('see');
				document.querySelector('#cowmenu').classList.remove('see');
			} 
			
			function opacityCustom() {
				document.querySelector('#choicemenu').classList.toggle('opac');
				document.querySelector('#choicecustom').classList.remove('opac');
			}

			function opacityMenu() {
				document.querySelector('#choicecustom').classList.toggle('opac');
				document.querySelector('#choicemenu').classList.remove('opac');
			}

			document.querySelector('#choicemenu').addEventListener('click', openMenu);
			document.querySelector('#choicecustom').addEventListener('click', openCustom);


			// Changement de style des boutons.
			var buttons = document.querySelectorAll('button');
			var image = document.querySelectorAll('img');

			for (var i = 0; i < image.length; i++) {
				image[i].addEventListener('click', function(event){
					event.target.parentElement.classList.toggle('active');
				});
			}

			for (var i = 0; i < buttons.length; i++) {
				buttons[i].addEventListener('click', function(event){
					event.target.classList.toggle('active');
				});
			}


		</script>
	</body>
</html> 