footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 100px;
	margin-top: 40px;
	background-color: #FFA504;
}

footer > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

footer > div > a {
	font-size: .9rem;
	font-weight: bold;
	margin-right: 45px;
	color: #F5F5F5;
}

#logo {
	width: 167px;
	height: 39px;
	margin-left: 50px;
}

.absolute {
	position: absolute;
	bottom: 0;
}


@media screen and (max-width: 600px){
	footer #logo {
		margin-left: 0!important;
		margin-bottom: 20px;
		margin-top: 10px;
	}

	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	footer > div > a {
		font-size: .6rem!important;
		margin-right: 0!important;
		margin-bottom: 10px;
	}

	footer > div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}