header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	margin-top: 40px;
	z-index: 50;
}

header > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

header > div > a {
	font-size: 1rem;
	font-weight: bold;
	margin-right: 45px;
}
.logo {
	width: 204px;
	height: 50px;
	margin-left: 80px;
}

.panier{
	width: 30px;
	height: 30px;
}
.connexion {
	width: 120px;
	height: 40px;
	border-radius: 10px;
	background-color: #FFA504;
	color: #F5F5F5;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
}

.activeCompte{
	position: relative;
	z-index: 6;
}

.deconnected {
	position: absolute;
	top: 0;
	width: 120px;
	height: 30px;
	background-color: #FFFFFF;
	color: #c0c0c0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: .8rem;
	z-index: -1;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 10px;
	transition-delay: .5s;
	transition-duration: .4s;
	opacity: 0;
}

.activeCompte:hover .deconnected {
	transform: translateY(35px);
	opacity: 1!important;

}



/*Accueil Header*/
#generalHead{
	background-color: #FFA504;
	margin-top: 0;
	padding: 40px 0 0 0;
	width: 100vw!important;
}
#generalHead .connexion{
	background-color: #F5F5F5;
	color: #FFA504;
}
#generalHead .deconnected{
	background-color: #EC632D;
	color: #F5F5F5;
	z-index: -1;
}


#generalHead a {
	color: #F5F5F5;
}