<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="icon/png" href="img/favicon.png"/>
		<title>À propos - Cow-snack</title>
		<link rel="stylesheet" href="css/law.css">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/footer.css">
	</head>
	<body>
		<header>
			@include('partials/header')
		</header>

		<section class="law">
			<h1>À propos</h1>
			<div class="lineLaw"></div>
			<p class="bold">❗ ❗ ❗Attention ce site est un projet étudiant dans le but de réaliser un site de vente de sandwich fictif, il n'est en aucun cas utilisé à des fins commerciales.</p>

			<p><strong>Cow-Snack</strong> est une petite société émergente Nantaise de livraison de sandwich artisanale.🥪</p>
			
			<p>À l’origine de ce projet, une personne <strong>Sébastien Plottu</strong>, entrepreneur ambitieux, son but est de régaler ses amis et le monde entier de mets <strong>succulents</strong> et <strong>personnalisé</strong>. En créant une alternative aux fast-foods, ils proposent un grand choix de produits artisanaux à <strong>petit prix</strong> et faits avec passion.</p>
			
			<p>Ce site incroyable a été développé par trois<strong> passionnés </strong>qui ont à coeur de rendre votre vie meilleure et à vous voir heureux de déguster leurs sandwichs.😋</p>

			<p>De plus, votre <strong>avis</strong> nous intéresse, vous êtes au centre de nos préoccupations alors n'hésitez pas à nous faire part de vos <strong>retours</strong>. 😊</p>
			
		</section>

		@include('partials/footer')
	</body>
</html> 