<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="icon/png" href="img/favicon.png"/>
		<title>Politique de confidentialité - Cow-snack</title>
		<link rel="stylesheet" href="css/law.css">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/footer.css">
	</head>
	<body>
		<header>
			<% include header %>
		</header>

		<section class="law">
			<h1>Politique de Confidentialité</h1>
			<div class="lineLaw"></div>
			<h3>Informations générales sur les données personnelles</h3>
			<p>Les informations personnelles récoltées sont enregistrées dans un fichier informatisé par Cow-Snack (contrôleur de données de consommation).</p>
			<p>Nous ne traiterons ou n’utiliserons vos données que dans la mesure où cela est nécessaire pour assurer l’exécution de nos prestations, réaliser des études statistiques, respecter nos obligations légales.</p>
			<p>Nous obtenons votre consentement avant de traiter vos données personnelles, à moins que nous ne disposions d'une base légale pour les obtenir. Dans ces cas, nous vous informons de cette base et de notre intérêt légitime à traiter vos données personnelles.</p>

			<h3>Traitement transparent des données</h3>
			<p>Lorsque nous vous demandons de nous communiquer des données personnelles, nous vous informons des données personnelles que nous traitons et du but pour lequel nous les traitons. Vous en serez informé au moment de la collecte de vos données personnelles.</p>
			<p>Nous stockons les données pendant la période de temps autorisée par la loi et nous les supprimons quand elles ne sont plus nécessaires. La durée de cette période dépend de la nature des données et du motif de leur stockage.</p>
			<p>Vos informations personnelles seront conservées aussi longtemps que nécessaire pour améliorer nos services et pour en garantir la qualité ainsi que la pertinence de nos contacts avec vous. Nous conservons également des informations sur vous et votre utilisation des Services aussi longtemps que nécessaire pour les intérêts légitimes de notre société, pour des motifs juridiques ou pour prévenir un préjudice sauf si :</p>
			<p>• Vous exercez votre droit de suppression des données vous concernant, dans les conditions décrites ci-après ;</p>
			<p>• Une durée de conservation plus longue est autorisée ou imposée en vertu d’une disposition légale ou réglementaire</p>
			<p>Les données que nous utilisons sont des données personnelles et non des données sensibles.</p>

			<h3>Sécurité et confidentialité vis-à-vis de vos données </h3>
			<p>Pendant cette période, nous mettons en place tous les moyens aptes à assurer la confidentialité et la sécurité de vos données personnelles, de manière à empêcher leur endommagement, effacement ou accès par des tiers non autorisés.</p>
			<p>L'accès à vos données personnelles est strictement limité à notre personnel. En dehors du cas énoncé ci-dessus, nous nous engageons à ne pas vendre, louer, céder ni donner accès à des tiers à vos données sans votre consentement préalable, à moins d’y être contraints en raison d’un motif légitime (obligation légale, lutte contre la fraude ou l’abus, exercice des droits de la défense, etc.).</p>

			<h3>Vous avez le droit d’accéder à vos données personnelles</h3>
			<p>Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée et au Règlement européen n°2016/679/UE du 27 avril 2016 (applicable dès le 25 mai 2018), vous bénéficiez d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données ou encore de limitation du traitement. Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.</p>
			<p>Si vous souhaitez déposer une réclamation concernant le traitement de vos données personnelles, vous pouvez, sous réserve de la production d’un justificatif d’identité valide, nous contacter.</p>
			<p>Pour toute information complémentaire ou réclamation, vous pouvez contacter la Commission Nationale de l’Informatique et des Libertés (CNIL)</p>
		</section>

		<footer>
			<% include footer %>
		</footer>
	</body>
</html> 