<footer>
	<img src="img/logoWhite.png" id="logo">
	<div>
		<a href="/contact">Nous contacter</a>
		<a href="/about">À propos</a>
		<a href="/conditionsgenerales">Conditions générales</a>
		<a href="/politique">Politique de Confidentialité</a>
		<a href="/mentionslegales">Mentions Légales</a>
	</div>
</footer>